<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.shake.dao.ShakePrizeInstanceMapper" >
	
	<sql id="mainColumns">
		`id`, `prize_id` as prizeId, `member_id` as memberId, `activity_id` as activityId, `open_id` as openId, `give_time` as giveTime, 
		`get_time` as getTime, `writeoff_time` as writeoffTime, `qr_code` as qrCode, `status`, `origin`, `user_id` as userId, `create_time` as createTime
	</sql>
	
	<select id="selectByQrCode" resultType="com.rtmap.shake.entity.ShakePrizeInstance" parameterType="String">
		select
		<include refid="mainColumns" />
		from shake_prize_instance
		where qr_code = #{qrCode}
	</select>
	
	<select id="selectListByMap" resultType="com.rtmap.shake.entity.ShakePrizeInstance" parameterType="Map">
		select
			`id`,`qr_code` as qrCode,`status`
		from
			shake_prize_instance
		<where>
			<trim prefixOverrides="and">
				<if test="activityId != null">and activity_id = #{activityId}</if>
				<if test="prizeId != null">and prize_id = #{prizeId}</if>
				<if test="status != null">and status &lt; #{status}</if>
			</trim>
		</where>
	</select>
	
	<update id="updateByIdSelective" parameterType="com.rtmap.shake.entity.ShakePrizeInstance">
		update shake_prize_instance
		<set>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="giveTime != null">
				give_time = #{giveTime},
			</if>
			<if test="getTime != null">
				get_time = #{getTime},
			</if>
			<if test="writeoffTime != null">
				writeoff_time = #{writeoffTime},
			</if>
			<if test="userId != null">
				user_id = #{userId},
			</if>
		</set>
		where id = #{id}
	</update>
</mapper>