<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.api.mapper.UserMapper" >
	
	<select id="selectById" parameterType="Long" resultType="com.rtmap.api.domain.User">
		select * from u_user where id = #{id}
	</select>
  <select id="selectByMap" parameterType="Map"  resultType="com.rtmap.api.domain.User">
  	select 
  		* 
  	from 
  		u_user
  	<where>
		<trim prefixOverrides="and">
			<if test="id != null">
				and username = #{username}
			</if>
			<if test="access_token != null">
				and access_token = #{access_token}
			</if>
		</trim>
	</where> 
  </select>
	
	
	<insert id="insert" parameterType="com.rtmap.api.domain.User" keyProperty="id">
		insert into u_user
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        id,
	      </if>
	      <if test="role_id != null" >
	        role_id,
	      </if>
	      <if test="username != null" >
	        username,
	      </if>
	      <if test="nickname != null" >
	        nickname,
	      </if>
	      <if test="password != null" >
	        password,
	      </if>
	      <if test="salting != null" >
	        salting,
	      </if>
	      <if test="create_time != null" >
	        create_time,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        #{id},
	      </if>
	      <if test="role_id != null" >
	        #{role_id},
	      </if>
	      <if test="username != null" >
	        #{username},
	      </if>
	      <if test="password != null" >
	        #{password},
	      </if>
	      <if test="salting != null" >
	        #{salting},
	      </if>
	      <if test="create_time != null" >
	        #{create_time},
	      </if>
	    </trim>
	    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
		  SELECT LAST_INSERT_ID() AS id
		 </selectKey>
	</insert>
	
	<update id="update" parameterType="com.rtmap.api.domain.User">
		update u_user
    	<set >
    		<if test="id != null" >
		        id = #{id},
	      	</if>
    		<if test="role_id != null" >
	        	role_id = #{role_id},
	      	</if>
    		<if test="username != null" >
	        	username = #{username},
	      	</if>
    		<if test="nickname != null" >
	        	nickname = #{nickname},
	      	</if>
    		<if test="password != null" >
	        	password = #{password},
	      	</if>
    		<if test="salting != null" >
	        	salting = #{salting},
	      	</if>
    		<if test="create_time != null" >
	        	create_time = #{create_time},
	      	</if>
		</set>
		where id = #{id}
	</update>
</mapper>