<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtmap.twobean.dao.KechuanStoreCodeMapper">
  <resultMap id="BaseResultMap" type="com.rtmap.twobean.entity.KechuanStoreCode">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="market_sid" jdbcType="BIGINT" property="marketSid" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="storecode" jdbcType="VARCHAR" property="storecode" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="itemcode" jdbcType="VARCHAR" property="itemcode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, market_sid, tid, storecode, brand, itemcode
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_kechuan_storecode
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  
  <select id="selectEntityByMap" parameterType="java.util.Map" resultType="java.lang.String">
    select 
    MAX(`itemcode`)
    from tb_kechuan_storecode
    where 
    market_sid = #{marketSid,jdbcType=BIGINT}
    AND
    storecode = #{storecode,jdbcType=VARCHAR}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_kechuan_storecode
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rtmap.twobean.entity.KechuanStoreCode">
    insert into tb_kechuan_storecode (id, market_sid, tid, 
      storecode, brand, itemcode
      )
    values (#{id,jdbcType=BIGINT}, #{marketSid,jdbcType=BIGINT}, #{tid,jdbcType=INTEGER}, 
      #{storecode,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, #{itemcode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rtmap.twobean.entity.KechuanStoreCode">
    insert into tb_kechuan_storecode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="marketSid != null">
        market_sid,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="storecode != null">
        storecode,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="itemcode != null">
        itemcode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="marketSid != null">
        #{marketSid,jdbcType=BIGINT},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="storecode != null">
        #{storecode,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="itemcode != null">
        #{itemcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtmap.twobean.entity.KechuanStoreCode">
    update tb_kechuan_storecode
    <set>
      <if test="marketSid != null">
        market_sid = #{marketSid,jdbcType=BIGINT},
      </if>
      <if test="tid != null">
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="storecode != null">
        storecode = #{storecode,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="itemcode != null">
        itemcode = #{itemcode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtmap.twobean.entity.KechuanStoreCode">
    update tb_kechuan_storecode
    set market_sid = #{marketSid,jdbcType=BIGINT},
      tid = #{tid,jdbcType=INTEGER},
      storecode = #{storecode,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      itemcode = #{itemcode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>