<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.twobean.dao.MemberGameScoreRecordMapper" >
  <resultMap id="BaseResultMap" type="com.rtmap.twobean.entity.MemberGameScoreRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="member_sid" property="memberSid" jdbcType="BIGINT" />
    <result column="market_sid" property="marketSid" jdbcType="BIGINT" />
    <result column="game_id" property="gameId" jdbcType="INTEGER" />
    <result column="game_score" property="gameScore" jdbcType="INTEGER" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="big_bean_count" property="bigBeanCount" jdbcType="INTEGER" />
    <result column="big_bean_score" property="bigBeanScore" jdbcType="INTEGER" />
    <result column="small_bean_score" property="smallBeanScore" jdbcType="INTEGER" />
    <result column="small_bean_count" property="smallBeanCount" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, member_sid, market_sid, game_id, game_score, ip, big_bean_count, big_bean_score, 
    small_bean_score, small_bean_count, add_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rtmap.twobean.entity.MemberGameScoreRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_member_game_score_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_member_game_score_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_member_game_score_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.rtmap.twobean.entity.MemberGameScoreRecordExample" >
    delete from tb_member_game_score_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rtmap.twobean.entity.MemberGameScoreRecord" >
    insert into tb_member_game_score_record (id, member_sid, market_sid, 
      game_id, game_score, ip, 
      big_bean_count, big_bean_score, small_bean_score, 
      small_bean_count, add_time)
    values (#{id,jdbcType=INTEGER}, #{memberSid,jdbcType=BIGINT}, #{marketSid,jdbcType=BIGINT}, 
      #{gameId,jdbcType=INTEGER}, #{gameScore,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, 
      #{bigBeanCount,jdbcType=INTEGER}, #{bigBeanScore,jdbcType=INTEGER}, #{smallBeanScore,jdbcType=INTEGER}, 
      #{smallBeanCount,jdbcType=INTEGER}, #{addTime,jdbcType=VARCHAR})
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
	</selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.rtmap.twobean.entity.MemberGameScoreRecord" >
    insert into tb_member_game_score_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberSid != null" >
        member_sid,
      </if>
      <if test="marketSid != null" >
        market_sid,
      </if>
      <if test="gameId != null" >
        game_id,
      </if>
      <if test="gameScore != null" >
        game_score,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="bigBeanCount != null" >
        big_bean_count,
      </if>
      <if test="bigBeanScore != null" >
        big_bean_score,
      </if>
      <if test="smallBeanScore != null" >
        small_bean_score,
      </if>
      <if test="smallBeanCount != null" >
        small_bean_count,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="memberSid != null" >
        #{memberSid,jdbcType=BIGINT},
      </if>
      <if test="marketSid != null" >
        #{marketSid,jdbcType=BIGINT},
      </if>
      <if test="gameId != null" >
        #{gameId,jdbcType=INTEGER},
      </if>
      <if test="gameScore != null" >
        #{gameScore,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="bigBeanCount != null" >
        #{bigBeanCount,jdbcType=INTEGER},
      </if>
      <if test="bigBeanScore != null" >
        #{bigBeanScore,jdbcType=INTEGER},
      </if>
      <if test="smallBeanScore != null" >
        #{smallBeanScore,jdbcType=INTEGER},
      </if>
      <if test="smallBeanCount != null" >
        #{smallBeanCount,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rtmap.twobean.entity.MemberGameScoreRecordExample" resultType="java.lang.Integer" >
    select count(*) from tb_member_game_score_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_member_game_score_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.memberSid != null" >
        member_sid = #{record.memberSid,jdbcType=BIGINT},
      </if>
      <if test="record.marketSid != null" >
        market_sid = #{record.marketSid,jdbcType=BIGINT},
      </if>
      <if test="record.gameId != null" >
        game_id = #{record.gameId,jdbcType=INTEGER},
      </if>
      <if test="record.gameScore != null" >
        game_score = #{record.gameScore,jdbcType=INTEGER},
      </if>
      <if test="record.ip != null" >
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.bigBeanCount != null" >
        big_bean_count = #{record.bigBeanCount,jdbcType=INTEGER},
      </if>
      <if test="record.bigBeanScore != null" >
        big_bean_score = #{record.bigBeanScore,jdbcType=INTEGER},
      </if>
      <if test="record.smallBeanScore != null" >
        small_bean_score = #{record.smallBeanScore,jdbcType=INTEGER},
      </if>
      <if test="record.smallBeanCount != null" >
        small_bean_count = #{record.smallBeanCount,jdbcType=INTEGER},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_member_game_score_record
    set id = #{record.id,jdbcType=INTEGER},
      member_sid = #{record.memberSid,jdbcType=BIGINT},
      market_sid = #{record.marketSid,jdbcType=BIGINT},
      game_id = #{record.gameId,jdbcType=INTEGER},
      game_score = #{record.gameScore,jdbcType=INTEGER},
      ip = #{record.ip,jdbcType=VARCHAR},
      big_bean_count = #{record.bigBeanCount,jdbcType=INTEGER},
      big_bean_score = #{record.bigBeanScore,jdbcType=INTEGER},
      small_bean_score = #{record.smallBeanScore,jdbcType=INTEGER},
      small_bean_count = #{record.smallBeanCount,jdbcType=INTEGER},
      add_time = #{record.addTime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtmap.twobean.entity.MemberGameScoreRecord" >
    update tb_member_game_score_record
    <set >
      <if test="memberSid != null" >
        member_sid = #{memberSid,jdbcType=BIGINT},
      </if>
      <if test="marketSid != null" >
        market_sid = #{marketSid,jdbcType=BIGINT},
      </if>
      <if test="gameId != null" >
        game_id = #{gameId,jdbcType=INTEGER},
      </if>
      <if test="gameScore != null" >
        game_score = #{gameScore,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="bigBeanCount != null" >
        big_bean_count = #{bigBeanCount,jdbcType=INTEGER},
      </if>
      <if test="bigBeanScore != null" >
        big_bean_score = #{bigBeanScore,jdbcType=INTEGER},
      </if>
      <if test="smallBeanScore != null" >
        small_bean_score = #{smallBeanScore,jdbcType=INTEGER},
      </if>
      <if test="smallBeanCount != null" >
        small_bean_count = #{smallBeanCount,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtmap.twobean.entity.MemberGameScoreRecord" >
    update tb_member_game_score_record
    set member_sid = #{memberSid,jdbcType=BIGINT},
      market_sid = #{marketSid,jdbcType=BIGINT},
      game_id = #{gameId,jdbcType=INTEGER},
      game_score = #{gameScore,jdbcType=INTEGER},
      ip = #{ip,jdbcType=VARCHAR},
      big_bean_count = #{bigBeanCount,jdbcType=INTEGER},
      big_bean_score = #{bigBeanScore,jdbcType=INTEGER},
      small_bean_score = #{smallBeanScore,jdbcType=INTEGER},
      small_bean_count = #{smallBeanCount,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>