<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.twobean.dao.PayOrderMapper" >
  <resultMap id="BaseResultMap" type="com.rtmap.twobean.entity.MemberConsumeRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="member_sid" property="memberSid" jdbcType="BIGINT" />
    <result column="market_sid" property="marketSid" jdbcType="BIGINT" />
    <result column="market_name" property="marketName" jdbcType="VARCHAR" />
    <result column="shop_sid" property="shopSid" jdbcType="BIGINT" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="shop_floor" property="shopFloor" jdbcType="VARCHAR" />
    <result column="delivery_code" property="deliveryCode" jdbcType="VARCHAR" />
    <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
    <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
    <result column="kechuan_no" jdbcType="VARCHAR" property="kechuanNo" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="appid" jdbcType="VARCHAR" property="appid" />
    <result column="money" property="money" jdbcType="INTEGER" />
    <result column="payment_time" property="paymentTime" jdbcType="VARCHAR" />
    <result column="product_num" property="productNum" jdbcType="INTEGER" />
    <result column="product" property="product" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, member_sid, market_sid, market_name, shop_sid, shop_name, shop_floor, delivery_code, 
    transaction_id, out_trade_no,kechuan_no,open_id,appid, money, payment_time, product_num, product, status, 
    add_time
  </sql>
  <select id="selectByTradeNo" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from tb_member_consume_record
    where out_trade_no = #{out_trade_no,jdbcType=VARCHAR}
  </select>
  
  <select id="selectMemberOrderCount" resultType="java.lang.Integer" parameterType="java.lang.Long" >
    select 
    count(*)
    from tb_member_consume_record
    where 
    member_sid = #{memberSid,jdbcType=BIGINT}
    AND `status` &gt;= 1
    AND `status` &lt;= 3
  </select>
</mapper>