<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.common.dao.UserMapper">
	
	<select id="selectUserByNameOrMobile" resultType="com.rtmap.common.entity.User" parameterType="string">
		select
			`id`, `realname`, `username`, `mobile`, `password`, `status`, `level`, `relation_id` as relationId, `is_admin` as isAdmin,
			 `position`, `create_time` as createTime
		from
			u_user
		where 
			username = #{username} or mobile = #{mobile}
	</select>
	
	<update id="updateByIdSelective" parameterType="com.rtmap.common.entity.User">
		update u_user
		<set>
			<if test="realname != null">
				realname = #{realname},
			</if>
			<if test="username != null">
				username = #{username},
			</if>
			<if test="mobile != null">
				mobile = #{mobile},
			</if>
			<if test="password != null">
				password = #{password},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="level != null">
				level = #{level},
			</if>
			<if test="relationId != null">
				relation_id = #{relationId},
			</if>
			<if test="position != null">
				position = =#{position},
			</if>
		</set>
		where id = #{id}
	</update>
</mapper>