<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd"
	default-autowire="byName">


	<!-- 默认的注解映射的支持 -->  
	<context:component-scan base-package="com.muarine.*.controller,com.muarine.*.service" />
	
   	<context:annotation-config />
   	<mvc:annotation-driven />
	<mvc:default-servlet-handler />
	
	<mvc:view-controller path="/" view-name="index"/>
		
	<context:property-placeholder location="classpath:system.properties" />
	
	
	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="ignoreAcceptHeader" value="false" />
		<property name="defaultContentType" value="text/html" />
		<property name="favorPathExtension" value="true" />
		<property name="order" value="1" />
		<property name="favorParameter" value="false" />  
		<property name="mediaTypes">
			<map>
				<entry key="html" value="text/html" />
				<entry key="json" value="application/json" />
				<entry key="xml" value="application/xml" />  
			</map>
		</property>

		<property name="viewResolvers">
			<list>
				<bean class="org.springframework.web.servlet.view.UrlBasedViewResolver">
					<property name="viewClass"
						value="org.springframework.web.servlet.view.tiles3.TilesView" />
					<property name="order" value="0" />
				</bean>

				<bean
					class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name="viewClass"
						value="org.springframework.web.servlet.view.JstlView" />
					<property name="prefix" value="/WEB-INF/jsp/" />
					<property name="suffix" value=".jsp" />
					<property name="order" value="1" />
				</bean>
			</list>
		</property>

		<property name="defaultViews">
			<list>
				<!-- json -->
				<bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />
				<!-- 此处XML自动转换有错误 	Unable to locate object to be marshalled in model	 -->
				<!-- <bean name="jaxb2MarshallingView" class="org.springframework.web.servlet.view.xml.MarshallingView">
				    <constructor-arg>
				        <bean class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
				            <property name="packagesToScan">
				                <array>
				                    <value>com.muarine.weixin.domain</value>
				                </array>
				            </property>
				        </bean>
				    </constructor-arg>
				</bean> -->
			</list>
		</property>
	</bean>
	
	<mvc:default-servlet-handler />

	<bean id="tilesConfigurer"
		class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/tiles.xml</value>
			</list>
		</property>
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.support.StandardServletMultipartResolver">
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages" />
	</bean>

	
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver" />
	<!-- 如果拦截器是全局的,必须先对/resrouce路径过滤 -->
	<!-- 自动过滤WEB根目录下的资源文件 		访问路径：/resrouce/js/	-->
	<!-- <mvc:resources location="/" mapping="/resrouce/**" /> -->
	
	<mvc:interceptors> 
		<mvc:interceptor> 
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/admin/login"/>
			<mvc:exclude-mapping path="/js/**"/>
			<mvc:exclude-mapping path="/css/**"/>
			<mvc:exclude-mapping path="/images/**"/>
			
			<bean id="tokenInterceptor" class="com.muarine.common.aop.AccessTokenIntercepter"></bean> 
		</mvc:interceptor> 
	</mvc:interceptors>

</beans>