<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.common.dao.MemberMapper" >
	<select id="queryById" resultType="com.rtmap.common.entity.Member" parameterType="long">
		select
			`id`, `username`, `nickname`, `email`, `age`, `sex`, `address`, `region`, `mobile`, `password`, `nick_pic_url`, `status`, `login_times`, `src_type`, `device_token`, `device_system`, `login_token`, `register_time`, `update_time`
		from
			u_member
		where
			id = #{id}
	</select>
</mapper>