<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.twobean.dao.GameMapper" >
  <resultMap id="BaseResultMap" type="com.rtmap.twobean.entity.Game" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="market_id" property="marketId" jdbcType="BIGINT" />
    <result column="game_name" property="gameName" jdbcType="VARCHAR" />
    <result column="game_map_url" property="gameMapUrl" jdbcType="VARCHAR" />
    <result column="game_url" property="gameUrl" jdbcType="VARCHAR" />
    <result column="game_memo" property="gameMemo" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, market_id, game_name, game_map_url, game_url, game_memo, add_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rtmap.twobean.entity.GameExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_game
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_game
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_game
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.rtmap.twobean.entity.GameExample" >
    delete from tb_game
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rtmap.twobean.entity.Game" >
    insert into tb_game (id, market_id, game_name, 
      game_map_url, game_url, game_memo, 
      add_time)
    values (#{id,jdbcType=INTEGER}, #{marketId,jdbcType=BIGINT}, #{gameName,jdbcType=VARCHAR}, 
      #{gameMapUrl,jdbcType=VARCHAR}, #{gameUrl,jdbcType=VARCHAR}, #{gameMemo,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=BIGINT})
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
	</selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.rtmap.twobean.entity.Game" >
    insert into tb_game
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="marketId != null" >
        market_id,
      </if>
      <if test="gameName != null" >
        game_name,
      </if>
      <if test="gameMapUrl != null" >
        game_map_url,
      </if>
      <if test="gameUrl != null" >
        game_url,
      </if>
      <if test="gameMemo != null" >
        game_memo,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="marketId != null" >
        #{marketId,jdbcType=BIGINT},
      </if>
      <if test="gameName != null" >
        #{gameName,jdbcType=VARCHAR},
      </if>
      <if test="gameMapUrl != null" >
        #{gameMapUrl,jdbcType=VARCHAR},
      </if>
      <if test="gameUrl != null" >
        #{gameUrl,jdbcType=VARCHAR},
      </if>
      <if test="gameMemo != null" >
        #{gameMemo,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rtmap.twobean.entity.GameExample" resultType="java.lang.Integer" >
    select count(*) from tb_game
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_game
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.marketId != null" >
        market_id = #{record.marketId,jdbcType=BIGINT},
      </if>
      <if test="record.gameName != null" >
        game_name = #{record.gameName,jdbcType=VARCHAR},
      </if>
      <if test="record.gameMapUrl != null" >
        game_map_url = #{record.gameMapUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.gameUrl != null" >
        game_url = #{record.gameUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.gameMemo != null" >
        game_memo = #{record.gameMemo,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_game
    set id = #{record.id,jdbcType=INTEGER},
      market_id = #{record.marketId,jdbcType=BIGINT},
      game_name = #{record.gameName,jdbcType=VARCHAR},
      game_map_url = #{record.gameMapUrl,jdbcType=VARCHAR},
      game_url = #{record.gameUrl,jdbcType=VARCHAR},
      game_memo = #{record.gameMemo,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtmap.twobean.entity.Game" >
    update tb_game
    <set >
      <if test="marketId != null" >
        market_id = #{marketId,jdbcType=BIGINT},
      </if>
      <if test="gameName != null" >
        game_name = #{gameName,jdbcType=VARCHAR},
      </if>
      <if test="gameMapUrl != null" >
        game_map_url = #{gameMapUrl,jdbcType=VARCHAR},
      </if>
      <if test="gameUrl != null" >
        game_url = #{gameUrl,jdbcType=VARCHAR},
      </if>
      <if test="gameMemo != null" >
        game_memo = #{gameMemo,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtmap.twobean.entity.Game" >
    update tb_game
    set market_id = #{marketId,jdbcType=BIGINT},
      game_name = #{gameName,jdbcType=VARCHAR},
      game_map_url = #{gameMapUrl,jdbcType=VARCHAR},
      game_url = #{gameUrl,jdbcType=VARCHAR},
      game_memo = #{gameMemo,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>