<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.twobean.dao.MapPoiMapper" >
  
  <!-- 新增查询 -->
  <select id="selectXiDanIdByMap" resultType="java.lang.String" parameterType="java.util.Map" >
    select 
    `xidan_id`
    from tb_map_poi
    where 
    id_build = #{idBuild,jdbcType=BIGINT}
    AND
    poi_no = #{poiNo,jdbcType=SMALLINT}
    AND
    floor = #{floor,jdbcType=VARCHAR}
  </select>
  
</mapper>