<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.twobean.dao.MemberConsumeRecordMapper" >
  <resultMap id="BaseResultMap" type="com.rtmap.twobean.entity.MemberConsumeRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="member_sid" property="memberSid" jdbcType="BIGINT" />
    <result column="market_sid" property="marketSid" jdbcType="BIGINT" />
    <result column="market_name" property="marketName" jdbcType="VARCHAR" />
    <result column="shop_sid" property="shopSid" jdbcType="BIGINT" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="shop_floor" property="shopFloor" jdbcType="VARCHAR" />
    <result column="shop_floor_num" property="shopFloorNum" jdbcType="VARCHAR" />
    <result column="delivery_code" property="deliveryCode" jdbcType="VARCHAR" />
    <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
    <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
    <result column="kechuan_no" property="kechuanNo" jdbcType="VARCHAR" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="INTEGER" />
    <result column="payment_time" property="paymentTime" jdbcType="VARCHAR" />
    <result column="return_time" property="returnTime" jdbcType="VARCHAR" />
    <result column="product_num" property="productNum" jdbcType="INTEGER" />
    <result column="product" property="product" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="add_time" property="addTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, member_sid, market_sid, market_name, shop_sid, shop_name, shop_floor, shop_floor_num, 
    delivery_code, transaction_id, out_trade_no, kechuan_no, open_id, appid, money, payment_time, 
    return_time, product_num, product, status, user_id, add_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rtmap.twobean.entity.MemberConsumeRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_member_consume_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="start != null and pageSize != null">
		limit #{start}, #{pageSize}
	</if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_member_consume_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_member_consume_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.rtmap.twobean.entity.MemberConsumeRecordExample" >
    delete from tb_member_consume_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rtmap.twobean.entity.MemberConsumeRecord" >
    insert into tb_member_consume_record (id, member_sid, market_sid, 
      market_name, shop_sid, shop_name, 
      shop_floor, shop_floor_num, delivery_code, 
      transaction_id, out_trade_no, kechuan_no, 
      open_id, appid, money, 
      payment_time, return_time, product_num, 
      product, status, user_id, 
      add_time)
    values (#{id,jdbcType=INTEGER}, #{memberSid,jdbcType=BIGINT}, #{marketSid,jdbcType=BIGINT}, 
      #{marketName,jdbcType=VARCHAR}, #{shopSid,jdbcType=BIGINT}, #{shopName,jdbcType=VARCHAR}, 
      #{shopFloor,jdbcType=VARCHAR}, #{shopFloorNum,jdbcType=VARCHAR}, #{deliveryCode,jdbcType=VARCHAR}, 
      #{transactionId,jdbcType=VARCHAR}, #{outTradeNo,jdbcType=VARCHAR}, #{kechuanNo,jdbcType=VARCHAR}, 
      #{openId,jdbcType=VARCHAR}, #{appid,jdbcType=VARCHAR}, #{money,jdbcType=INTEGER}, 
      #{paymentTime,jdbcType=VARCHAR}, #{returnTime,jdbcType=VARCHAR}, #{productNum,jdbcType=INTEGER}, 
      #{product,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, 
      #{addTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.rtmap.twobean.entity.MemberConsumeRecord" keyProperty="id">
    insert into tb_member_consume_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberSid != null" >
        member_sid,
      </if>
      <if test="marketSid != null" >
        market_sid,
      </if>
      <if test="marketName != null" >
        market_name,
      </if>
      <if test="shopSid != null" >
        shop_sid,
      </if>
      <if test="shopName != null" >
        shop_name,
      </if>
      <if test="shopFloor != null" >
        shop_floor,
      </if>
      <if test="shopFloorNum != null" >
        shop_floor_num,
      </if>
      <if test="deliveryCode != null" >
        delivery_code,
      </if>
      <if test="transactionId != null" >
        transaction_id,
      </if>
      <if test="outTradeNo != null" >
        out_trade_no,
      </if>
      <if test="kechuanNo != null" >
        kechuan_no,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="appid != null" >
        appid,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="paymentTime != null" >
        payment_time,
      </if>
      <if test="returnTime != null" >
        return_time,
      </if>
      <if test="productNum != null" >
        product_num,
      </if>
      <if test="product != null" >
        product,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="memberSid != null" >
        #{memberSid,jdbcType=BIGINT},
      </if>
      <if test="marketSid != null" >
        #{marketSid,jdbcType=BIGINT},
      </if>
      <if test="marketName != null" >
        #{marketName,jdbcType=VARCHAR},
      </if>
      <if test="shopSid != null" >
        #{shopSid,jdbcType=BIGINT},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopFloor != null" >
        #{shopFloor,jdbcType=VARCHAR},
      </if>
      <if test="shopFloorNum != null" >
        #{shopFloorNum,jdbcType=VARCHAR},
      </if>
      <if test="deliveryCode != null" >
        #{deliveryCode,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null" >
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null" >
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="kechuanNo != null" >
        #{kechuanNo,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=INTEGER},
      </if>
      <if test="paymentTime != null" >
        #{paymentTime,jdbcType=VARCHAR},
      </if>
      <if test="returnTime != null" >
        #{returnTime,jdbcType=VARCHAR},
      </if>
      <if test="productNum != null" >
        #{productNum,jdbcType=INTEGER},
      </if>
      <if test="product != null" >
        #{product,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=BIGINT},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	  SELECT LAST_INSERT_ID() AS id
	 </selectKey>
  </insert>
  <select id="countByExample" parameterType="com.rtmap.twobean.entity.MemberConsumeRecordExample" resultType="java.lang.Integer" >
    select count(*) from tb_member_consume_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_member_consume_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.memberSid != null" >
        member_sid = #{record.memberSid,jdbcType=BIGINT},
      </if>
      <if test="record.marketSid != null" >
        market_sid = #{record.marketSid,jdbcType=BIGINT},
      </if>
      <if test="record.marketName != null" >
        market_name = #{record.marketName,jdbcType=VARCHAR},
      </if>
      <if test="record.shopSid != null" >
        shop_sid = #{record.shopSid,jdbcType=BIGINT},
      </if>
      <if test="record.shopName != null" >
        shop_name = #{record.shopName,jdbcType=VARCHAR},
      </if>
      <if test="record.shopFloor != null" >
        shop_floor = #{record.shopFloor,jdbcType=VARCHAR},
      </if>
      <if test="record.shopFloorNum != null" >
        shop_floor_num = #{record.shopFloorNum,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryCode != null" >
        delivery_code = #{record.deliveryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.transactionId != null" >
        transaction_id = #{record.transactionId,jdbcType=VARCHAR},
      </if>
      <if test="record.outTradeNo != null" >
        out_trade_no = #{record.outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.kechuanNo != null" >
        kechuan_no = #{record.kechuanNo,jdbcType=VARCHAR},
      </if>
      <if test="record.openId != null" >
        open_id = #{record.openId,jdbcType=VARCHAR},
      </if>
      <if test="record.appid != null" >
        appid = #{record.appid,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=INTEGER},
      </if>
      <if test="record.paymentTime != null" >
        payment_time = #{record.paymentTime,jdbcType=VARCHAR},
      </if>
      <if test="record.returnTime != null" >
        return_time = #{record.returnTime,jdbcType=VARCHAR},
      </if>
      <if test="record.productNum != null" >
        product_num = #{record.productNum,jdbcType=INTEGER},
      </if>
      <if test="record.product != null" >
        product = #{record.product,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_member_consume_record
    set id = #{record.id,jdbcType=INTEGER},
      member_sid = #{record.memberSid,jdbcType=BIGINT},
      market_sid = #{record.marketSid,jdbcType=BIGINT},
      market_name = #{record.marketName,jdbcType=VARCHAR},
      shop_sid = #{record.shopSid,jdbcType=BIGINT},
      shop_name = #{record.shopName,jdbcType=VARCHAR},
      shop_floor = #{record.shopFloor,jdbcType=VARCHAR},
      shop_floor_num = #{record.shopFloorNum,jdbcType=VARCHAR},
      delivery_code = #{record.deliveryCode,jdbcType=VARCHAR},
      transaction_id = #{record.transactionId,jdbcType=VARCHAR},
      out_trade_no = #{record.outTradeNo,jdbcType=VARCHAR},
      kechuan_no = #{record.kechuanNo,jdbcType=VARCHAR},
      open_id = #{record.openId,jdbcType=VARCHAR},
      appid = #{record.appid,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=INTEGER},
      payment_time = #{record.paymentTime,jdbcType=VARCHAR},
      return_time = #{record.returnTime,jdbcType=VARCHAR},
      product_num = #{record.productNum,jdbcType=INTEGER},
      product = #{record.product,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=BIGINT},
      add_time = #{record.addTime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtmap.twobean.entity.MemberConsumeRecord" >
    update tb_member_consume_record
    <set >
      <if test="memberSid != null" >
        member_sid = #{memberSid,jdbcType=BIGINT},
      </if>
      <if test="marketSid != null" >
        market_sid = #{marketSid,jdbcType=BIGINT},
      </if>
      <if test="marketName != null" >
        market_name = #{marketName,jdbcType=VARCHAR},
      </if>
      <if test="shopSid != null" >
        shop_sid = #{shopSid,jdbcType=BIGINT},
      </if>
      <if test="shopName != null" >
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopFloor != null" >
        shop_floor = #{shopFloor,jdbcType=VARCHAR},
      </if>
      <if test="shopFloorNum != null" >
        shop_floor_num = #{shopFloorNum,jdbcType=VARCHAR},
      </if>
      <if test="deliveryCode != null" >
        delivery_code = #{deliveryCode,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null" >
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null" >
        out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="kechuanNo != null" >
        kechuan_no = #{kechuanNo,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="appid != null" >
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=INTEGER},
      </if>
      <if test="paymentTime != null" >
        payment_time = #{paymentTime,jdbcType=VARCHAR},
      </if>
      <if test="returnTime != null" >
        return_time = #{returnTime,jdbcType=VARCHAR},
      </if>
      <if test="productNum != null" >
        product_num = #{productNum,jdbcType=INTEGER},
      </if>
      <if test="product != null" >
        product = #{product,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtmap.twobean.entity.MemberConsumeRecord" >
    update tb_member_consume_record
    set member_sid = #{memberSid,jdbcType=BIGINT},
      market_sid = #{marketSid,jdbcType=BIGINT},
      market_name = #{marketName,jdbcType=VARCHAR},
      shop_sid = #{shopSid,jdbcType=BIGINT},
      shop_name = #{shopName,jdbcType=VARCHAR},
      shop_floor = #{shopFloor,jdbcType=VARCHAR},
      shop_floor_num = #{shopFloorNum,jdbcType=VARCHAR},
      delivery_code = #{deliveryCode,jdbcType=VARCHAR},
      transaction_id = #{transactionId,jdbcType=VARCHAR},
      out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      kechuan_no = #{kechuanNo,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR},
      appid = #{appid,jdbcType=VARCHAR},
      money = #{money,jdbcType=INTEGER},
      payment_time = #{paymentTime,jdbcType=VARCHAR},
      return_time = #{returnTime,jdbcType=VARCHAR},
      product_num = #{productNum,jdbcType=INTEGER},
      product = #{product,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT},
      add_time = #{addTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>