<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.twobean.dao.QrNumRecordMapper" >
  <resultMap id="BaseResultMap" type="com.rtmap.twobean.entity.QrNumRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="member_sid" property="memberSid" jdbcType="BIGINT" />
    <result column="shop_sid" property="shopSid" jdbcType="BIGINT" />
    <result column="prize_id" property="prizeId" jdbcType="BIGINT" />
    <result column="prize_type" property="prizeType" jdbcType="VARCHAR" />
    <result column="qr_type" property="qrType" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="timestamps" property="timestamps" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, code, member_sid, shop_sid, prize_id, prize_type, qr_type, order_id, timestamps
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rtmap.twobean.entity.QrNumRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_qr_num_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_qr_num_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_qr_num_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.rtmap.twobean.entity.QrNumRecordExample" >
    delete from tb_qr_num_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rtmap.twobean.entity.QrNumRecord" >
    insert into tb_qr_num_record (id, code, member_sid, 
      shop_sid, prize_id, prize_type, 
      qr_type, order_id, timestamps
      )
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{memberSid,jdbcType=BIGINT}, 
      #{shopSid,jdbcType=BIGINT}, #{prizeId,jdbcType=BIGINT}, #{prizeType,jdbcType=VARCHAR}, 
      #{qrType,jdbcType=VARCHAR}, #{orderId,jdbcType=INTEGER}, #{timestamps,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rtmap.twobean.entity.QrNumRecord" >
    insert into tb_qr_num_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="memberSid != null" >
        member_sid,
      </if>
      <if test="shopSid != null" >
        shop_sid,
      </if>
      <if test="prizeId != null" >
        prize_id,
      </if>
      <if test="prizeType != null" >
        prize_type,
      </if>
      <if test="qrType != null" >
        qr_type,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="timestamps != null" >
        timestamps,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="memberSid != null" >
        #{memberSid,jdbcType=BIGINT},
      </if>
      <if test="shopSid != null" >
        #{shopSid,jdbcType=BIGINT},
      </if>
      <if test="prizeId != null" >
        #{prizeId,jdbcType=BIGINT},
      </if>
      <if test="prizeType != null" >
        #{prizeType,jdbcType=VARCHAR},
      </if>
      <if test="qrType != null" >
        #{qrType,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="timestamps != null" >
        #{timestamps,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rtmap.twobean.entity.QrNumRecordExample" resultType="java.lang.Integer" >
    select count(*) from tb_qr_num_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_qr_num_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.memberSid != null" >
        member_sid = #{record.memberSid,jdbcType=BIGINT},
      </if>
      <if test="record.shopSid != null" >
        shop_sid = #{record.shopSid,jdbcType=BIGINT},
      </if>
      <if test="record.prizeId != null" >
        prize_id = #{record.prizeId,jdbcType=BIGINT},
      </if>
      <if test="record.prizeType != null" >
        prize_type = #{record.prizeType,jdbcType=VARCHAR},
      </if>
      <if test="record.qrType != null" >
        qr_type = #{record.qrType,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.timestamps != null" >
        timestamps = #{record.timestamps,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_qr_num_record
    set id = #{record.id,jdbcType=INTEGER},
      code = #{record.code,jdbcType=VARCHAR},
      member_sid = #{record.memberSid,jdbcType=BIGINT},
      shop_sid = #{record.shopSid,jdbcType=BIGINT},
      prize_id = #{record.prizeId,jdbcType=BIGINT},
      prize_type = #{record.prizeType,jdbcType=VARCHAR},
      qr_type = #{record.qrType,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=INTEGER},
      timestamps = #{record.timestamps,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtmap.twobean.entity.QrNumRecord" >
    update tb_qr_num_record
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="memberSid != null" >
        member_sid = #{memberSid,jdbcType=BIGINT},
      </if>
      <if test="shopSid != null" >
        shop_sid = #{shopSid,jdbcType=BIGINT},
      </if>
      <if test="prizeId != null" >
        prize_id = #{prizeId,jdbcType=BIGINT},
      </if>
      <if test="prizeType != null" >
        prize_type = #{prizeType,jdbcType=VARCHAR},
      </if>
      <if test="qrType != null" >
        qr_type = #{qrType,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="timestamps != null" >
        timestamps = #{timestamps,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtmap.twobean.entity.QrNumRecord" >
    update tb_qr_num_record
    set code = #{code,jdbcType=VARCHAR},
      member_sid = #{memberSid,jdbcType=BIGINT},
      shop_sid = #{shopSid,jdbcType=BIGINT},
      prize_id = #{prizeId,jdbcType=BIGINT},
      prize_type = #{prizeType,jdbcType=VARCHAR},
      qr_type = #{qrType,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=INTEGER},
      timestamps = #{timestamps,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>